* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  height: 150vh;
  width: 80vw;
  margin-left: 150px;
  row-gap: 10px;
  column-gap: 10px;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.title {
  background-color: rgb(156, 156, 156);
  display: grid;
  justify-content: center;
  align-content: center;
}

.one {
  grid-row: 1/3;
  grid-column: 1/3;
}
.two {
  grid-row: 1/2;
  grid-column: 3/4;
}
.three {
  grid-row: 1/2;
  grid-column: 4/5;
}
.four {
  grid-row: 2/3;
  grid-column: 3/4;
}
.five {
  grid-row: 2/3;
  grid-column: 4/5;
}
.six {
  grid-row: 3/4;
  grid-column: 1/2;
}
.seven {
  grid-row: 3/4;
  grid-column: 2/3;
}
.eight {
  grid-row: 4/5;
  grid-column: 1/2;
}
.nine {
  grid-row: 4/5;
  grid-column: 2/3;
}
.ten {
  grid-row: 3/5;
  grid-column: 3/5;
}
.eleven {
  grid-row: 5/7;
  grid-column: 1/3;
}

@media screen and (min-width: 640px) and (max-width: 1025px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 30px;
  }
  .one {
    grid-row: 1/3;
    grid-column: 1/3;
  }
  .two {
    grid-row: 1/2;
    grid-column: 3/4;
  }
  .three {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .four {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .five {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .six {
    grid-row: 3/5;
    grid-column: 2/4;
  }
  .seven {
    grid-row: 5/7;
    grid-column: 1/3;
  }
  .eight {
    grid-row: 5/6;
    grid-column: 3/4;
  }
  .nine {
    grid-row: 6/7;
    grid-column: 3/4;
  }
  .ten {
    display: none;
  }
  .eleven {
    display: none;
  }
  .twelve {
    display: none;
  }

  .thirteen {
    display: none;
  }
  .fourteen {
    display: none;
  }
  .fifteen {
    display: none;
  }
}
