* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: red;
  display: grid;
  height: 150vh;
  width: 90vw;
  margin-left: 100px;
  /* margin-top: 100px; */
  text-align: center;

  border: 2px solid rgb(41, 38, 38);
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.grid {
  background-color: aqua;
  display: grid;
  border: 1px solid rgba(41, 38, 38, 0.067);
}
.header {
  background-color: rgb(98, 98, 205);
  grid-row: 1;
  grid-column: 1/9;
}
.sidebar {
  background-color: rgb(51, 206, 108);
  grid-row: 2/8;
  grid-column: 1/3;
}
.title {
  background-color: pink;
  grid-column: 3/9;
  grid-row: 2/4;
}

.article1 {
  background-color: rgb(239, 141, 157);
  grid-column: 3/5;
  grid-row: 4/8;
}
.article2 {
  background-color: rgb(134, 99, 105);
  grid-column: 5/7;
  grid-row: 4/8;
}
.article3 {
  background-color: rgb(137, 128, 129);
  grid-column: 7/9;
  grid-row: 4/8;
}
.footer {
  background-color: lightskyblue;
  grid-column: 1/9;
  grid-row: 8/9;
}
